*.class
*.iml
*.ipr
*.iws
*.classpath
*.project
*.prefs
/output

#ForgeGradle
build
.gradle
/eclipse/assets
/libs
bin/
run/
out/

\.idea/

# Eclipse Run Configs
*.launch

# Neoforge
runs/

#
.workbuddy
